In [219]:
import math
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.python.framework import ops
import pandas as pd
import sklearn as sk
import sklearn.ensemble as ske
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

In [220]:
# Removes a warning in sklearn that will be fixed during an update mid 2018
import warnings

if __name__ == '__main__':
    warnings.filterwarnings(action='ignore', category=DeprecationWarning)
    le = sk.preprocessing.LabelEncoder()
    le.fit([1, 2, 2, 6])
    le.transform([1, 1, 2, 6])
    le.inverse_transform([0, 0, 1, 2])

In [246]:
df = pd.read_csv('C:/GitHub/kaggle/titanic/data/train.csv', sep=',', header=0)
df.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [222]:
def substrings_in_string(whole, subs): 
    
    for x in subs:
        if x in str(whole): 
            return x
        
    return 'Unknown'

In [223]:
def extract_title(full_name):
    
    full_name  = str(full_name)
    
    x = full_name.split(", ")
    x = x[1]
    x = x.split('.')
    x = x[0]
    
    return x

In [224]:
def simplify_titles(x):
    
    title=x['Title']
    
    if title in ['Don', 'Major', 'Capt', 'Jonkheer', 'Rev', 'Col']:
        return 'Sir'
    elif title in ['the Countess', 'Mme', 'Dona']:
        return 'Lady'
    elif title in ['Mlle', 'Ms']:
        return 'Miss'
    elif title == 'Dr':
        if x['Sex'] == 0:
            return 'Mrs'
        else:
            return 'Mr'
    else:
        return title

In [225]:
def preprocess_dataframe(df, prediction_data=False, print_info=False):
    """
    Description:
    
    Performs preprocessing on the titanic data
    
    PassengerId - Id (Only available on training data)
    Survived    - Survived  (0 = No; 1 = Yes)
    Pclass      - Passenger Class  (1 = 1st; 2 = 2nd; 3 = 3rd)
    Name        - Name
    Sex         - Sex
    Age         - Age
    Sibsp       - Number of Siblings/Spouses Aboard
    Parch       - Number of Parents/Children Aboard
    Ticket      - Ticket Number
    Fare        - Passenger Fare (British pound)
    Cabin       - Cabin code
    Embarked    - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
    
    Arguments:
    df -- Dataset, Pandas DataFrame
    
    Returns:
    df -- Dataset, Pandas DataFrame
    """

    # Encode sex into binary (0 = male, 1 = female)
    df['Sex'] = df['Sex'].map({'female': 1, 'male': 0})
    
    # Turning Cabin number into Deck
    cabin_list = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G', 'Unknown']
    df['Deck' ]= df['Cabin'].map(lambda x: substrings_in_string(x, cabin_list))
    
    # Calculate family size
    #df['FamilySize'] = df['SibSp'] + df['Parch']
    
    df['Title']= df['Name'].map(lambda x: extract_title(x))
    if not prediction_data:
        unique_titles = df['Title'].unique()
        survival_by_title = df.groupby('Title').mean()['Survived']
        
    df['Title']=df.apply(simplify_titles, axis=1)
    if not prediction_data:
        unique_titles_simplified = df['Title'].unique()
        survival_by_title_simplified = df.groupby('Title').mean()['Survived']
    

    # Gather info on the significance of these classes for survival
    # Class was, as expected, significance for surival with the rates (1st - 63%, 2nd - 47%, 3rd - 24%)
    # Embarked was suprisingly significant, C - Cherbourg had 55% surivial rate when the mean was just 38%
    if not prediction_data:
        survival_by_plcass = df.groupby('Pclass').mean()['Survived']
        survival_by_deck = df.groupby('Deck').mean()['Survived']
        survival_by_embark = df.groupby('Embarked').mean()['Survived']
    
    # Split classes with one hot encoding
    # Pclass   - splits into (1 = Pclass_1, 2 = Pclass_2, 3 = Pclass_3)
    # Embarked - splits into (C = Embarked_C, Q = Embarked_Q, S = Embarked_S)
    # Deck - splits into decks with letters
    df = pd.get_dummies(df, columns = ['Pclass', 'Embarked', 'Deck', 'Title'])

    # Age has missing values which is replaced with average
    # Might also consider dividing age into classes of age brackets
    df['Age'].fillna((df['Age'].mean()), inplace = True)
    df['Fare'].fillna((df['Fare'].mean()), inplace = True)

    # Drop columns with data deemed not relevant for learning
    # Name     - Gender already has its' own column. Only thing that might be interesting here is the title
    # Ticket   - Ticket does not really say much, price and class are already included which says the most
    # Cabin    - Replaced by Deck
    df = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1) #, 'SibSp', 'Parch'], axis=1)
    
    if prediction_data:
        m = len(df['Age'])
        df['Deck_T'] = pd.Series(np.zeros(m, dtype=int), index=df.index)
    
    # Normalize the data
    norm_vals = ['Age', 'Fare'] #, 'FamilySize']
    df[norm_vals] = (df[norm_vals] - df[norm_vals].min())/(df[norm_vals].max() - df[norm_vals].min())
    
    if print_info:
        if not prediction_data:
            print('--------------------------------------------------------------------------------------')
            print('SURVIVAL RATE')
            print('--------------------------------------------------------------------------------------')
            print('Overall survival rate: ' + str(df['Survived'].mean()))
            print()
            print(survival_by_plcass)
            print()
            print(survival_by_embark)
            print()
            print(survival_by_deck)
            print()
            print(survival_by_title)
            print()
            print(survival_by_title_simplified)
        print('--------------------------------------------------------------------------------------')
        print('TITLES')
        print('--------------------------------------------------------------------------------------')
        print('All titels: ')
        print(unique_titles)
        print()
        print('Simplied titels: ')
        print(unique_titles_simplified)
        print('--------------------------------------------------------------------------------------')
        print('SUMS')
        print('--------------------------------------------------------------------------------------')
        print(df.sum())
        print('--------------------------------------------------------------------------------------')
        print('DATA INFO')
        print('--------------------------------------------------------------------------------------')
        print(df.info())
        print('--------------------------------------------------------------------------------------')
        print('MISSING VALUES')
        print('--------------------------------------------------------------------------------------')
        print(df.isnull().sum())
        print('--------------------------------------------------------------------------------------')
        print('CORRELATIONS')
        print('--------------------------------------------------------------------------------------')
        print(df.corr())
        print('--------------------------------------------------------------------------------------')

    return df

In [226]:
def split_data(df):
    """
    Description:
    Splits the data into test/training set for simple validation

    Arguments:
    df -- Dataset, pandas dataframe
        
    Returns:
    train -- Training samples, pandas dataframe
    test -- Test samples, pandas dataframe
    """

    df_train = df.sample(frac = 0.8, random_state = 42)
    df_test = df.drop(df_train.index)  
    
    X_train = df_train.drop(['Survived'], axis=1).values
    y_train = df_train['Survived'].values
    
    X_test = df_test.drop(['Survived'], axis=1).values
    y_test = df_test['Survived'].values
    
    return X_train, y_train, X_test, y_test

In [227]:
df_processed = preprocess_dataframe(df, False, True)

X_train, y_train, X_test, y_test = split_data(df_processed)

print ("X_train shape: " + str(X_train.shape))
print ("y_train shape: " + str(y_train.shape))
print ("X_test shape: " + str(X_test.shape))
print ("y_test shape: " + str(y_test.shape))

df_processed.head(5)

--------------------------------------------------------------------------------------
SURVIVAL RATE
--------------------------------------------------------------------------------------
Overall survival rate: 0.3838383838383838

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

Deck
A          0.466667
B          0.744681
C          0.593220
D          0.757576
E          0.757576
F          0.583333
G          0.500000
T          0.000000
Unknown    0.299854
Name: Survived, dtype: float64

Title
Capt            0.000000
Col             0.500000
Don             0.000000
Dr              0.428571
Jonkheer        0.000000
Lady            1.000000
Major           0.500000
Master          0.575000
Miss            0.697802
Mlle            1.000000
Mme             1.000000
Mr              0.156673
Mrs             0.792000
Ms              1.000000
Rev             0.000000
Sir             1.000000
the Countess    1.000000
Name: Survived, dtype: float64

Title
Lady      1.000000
Master    0.575000
Miss      0.702703
Mr        0.158301
Mrs       0.770992
Sir       0.214286
Name: Survived, dtype: float64
--------------------------------------------------------------------------------------
TITLES
--------------------------------------------------------------------------------------
All titels:
['Mr' 'Mrs' 'Miss' 'Master' 'Don' 'Rev' 'Dr' 'Mme' 'Ms' 'Major' 'Lady'
 'Sir' 'Mlle' 'Col' 'Capt' 'the Countess' 'Jonkheer']

Simplied titels:
['Mr' 'Mrs' 'Miss' 'Master' 'Sir' 'Lady']
--------------------------------------------------------------------------------------
SUMS
--------------------------------------------------------------------------------------
Survived        342.000000
Sex             314.000000
Age             327.817213
SibSp           466.000000
Parch           340.000000
Fare             56.006859
Pclass_1        216.000000
Pclass_2        184.000000
Pclass_3        491.000000
Embarked_C      168.000000
Embarked_Q       77.000000
Embarked_S      644.000000
Deck_A           15.000000
Deck_B           47.000000
Deck_C           59.000000
Deck_D           33.000000
Deck_E           33.000000
Deck_F           12.000000
Deck_G            4.000000
Deck_T            1.000000
Deck_Unknown    687.000000
Title_Lady        3.000000
Title_Master     40.000000
Title_Miss      185.000000
Title_Mr        518.000000
Title_Mrs       131.000000
Title_Sir        14.000000
dtype: float64
--------------------------------------------------------------------------------------
DATA INFO
--------------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 27 columns):
Survived        891 non-null int64
Sex             891 non-null int64
Age             891 non-null float64
SibSp           891 non-null int64
Parch           891 non-null int64
Fare            891 non-null float64
Pclass_1        891 non-null uint8
Pclass_2        891 non-null uint8
Pclass_3        891 non-null uint8
Embarked_C      891 non-null uint8
Embarked_Q      891 non-null uint8
Embarked_S      891 non-null uint8
Deck_A          891 non-null uint8
Deck_B          891 non-null uint8
Deck_C          891 non-null uint8
Deck_D          891 non-null uint8
Deck_E          891 non-null uint8
Deck_F          891 non-null uint8
Deck_G          891 non-null uint8
Deck_T          891 non-null uint8
Deck_Unknown    891 non-null uint8
Title_Lady      891 non-null uint8
Title_Master    891 non-null uint8
Title_Miss      891 non-null uint8
Title_Mr        891 non-null uint8
Title_Mrs       891 non-null uint8
Title_Sir       891 non-null uint8
dtypes: float64(2), int64(4), uint8(21)
memory usage: 60.1 KB
None
--------------------------------------------------------------------------------------
MISSING VALUES
--------------------------------------------------------------------------------------
Survived        0
Sex             0
Age             0
SibSp           0
Parch           0
Fare            0
Pclass_1        0
Pclass_2        0
Pclass_3        0
Embarked_C      0
Embarked_Q      0
Embarked_S      0
Deck_A          0
Deck_B          0
Deck_C          0
Deck_D          0
Deck_E          0
Deck_F          0
Deck_G          0
Deck_T          0
Deck_Unknown    0
Title_Lady      0
Title_Master    0
Title_Miss      0
Title_Mr        0
Title_Mrs       0
Title_Sir       0
dtype: int64
--------------------------------------------------------------------------------------
CORRELATIONS
--------------------------------------------------------------------------------------
              Survived       Sex       Age     SibSp     Parch      Fare  \
Survived      1.000000  0.543351 -0.069809 -0.035322  0.081629  0.257307
Sex           0.543351  1.000000 -0.084153  0.114631  0.245489  0.182333
Age          -0.069809 -0.084153  1.000000 -0.232625 -0.179191  0.091566
SibSp        -0.035322  0.114631 -0.232625  1.000000  0.414838  0.159651
Parch         0.081629  0.245489 -0.179191  0.414838  1.000000  0.216225
Fare          0.257307  0.182333  0.091566  0.159651  0.216225  1.000000
Pclass_1      0.285904  0.098013  0.319916 -0.054582 -0.017633  0.591711
Pclass_2      0.093349  0.064746  0.006589 -0.055932 -0.000734 -0.118557
Pclass_3     -0.322308 -0.137143 -0.281004  0.092548  0.015790 -0.413333
Embarked_C    0.168240  0.082853  0.032024 -0.059528 -0.011069  0.269335
Embarked_Q    0.003650  0.074115 -0.013855 -0.026354 -0.081228 -0.117216
Embarked_S   -0.155660 -0.125722 -0.027121  0.070941  0.063036 -0.166603
Deck_A        0.022287 -0.078271  0.121920 -0.046266 -0.040325  0.019549
Deck_B        0.175095  0.109689  0.091394 -0.034538  0.056498  0.386297
Deck_C        0.114652  0.058649  0.113149  0.029251  0.030736  0.364318
Deck_D        0.150716  0.079248  0.132319 -0.017575 -0.019125  0.098878
Deck_E        0.150716  0.054368  0.115489 -0.033751 -0.011748  0.051749
Deck_F        0.047930 -0.004667 -0.080316 -0.002439  0.017173 -0.032495
Deck_G        0.016040  0.091031 -0.077253 -0.001402  0.072388 -0.025180
Deck_T       -0.026456 -0.024728  0.039469 -0.015907 -0.015878  0.002224
Deck_Unknown -0.316912 -0.140391 -0.233123  0.040460 -0.036987 -0.482075
Title_Lady    0.073642  0.078791  0.023710 -0.010003 -0.027532  0.038537
Title_Master  0.085221 -0.159934 -0.377265  0.349559  0.267344  0.010908
Title_Miss    0.335636  0.693916 -0.249169  0.083462  0.100998  0.119518
Title_Mr     -0.546521 -0.864573  0.189348 -0.251662 -0.335107 -0.184122
Title_Mrs     0.330515  0.522993  0.176575  0.064660  0.212481  0.111149
Title_Sir    -0.044050 -0.093205  0.175855 -0.035392 -0.037442 -0.012035

              Pclass_1  Pclass_2  Pclass_3  Embarked_C    ...        Deck_F  \
Survived      0.285904  0.093349 -0.322308    0.168240    ...      0.047930
Sex           0.098013  0.064746 -0.137143    0.082853    ...     -0.004667
Age           0.319916  0.006589 -0.281004    0.032024    ...     -0.080316
SibSp        -0.054582 -0.055932  0.092548   -0.059528    ...     -0.002439
Parch        -0.017633 -0.000734  0.015790   -0.011069    ...      0.017173
Fare          0.591711 -0.118557 -0.413333    0.269335    ...     -0.032495
Pclass_1      1.000000 -0.288585 -0.626738    0.296423    ...     -0.066095
Pclass_2     -0.288585  1.000000 -0.565210   -0.125416    ...      0.132819
Pclass_3     -0.626738 -0.565210  1.000000   -0.153329    ...     -0.051148
Embarked_C    0.296423 -0.125416 -0.153329    1.000000    ...     -0.056322
Embarked_Q   -0.155342 -0.127301  0.237449   -0.148258    ...     -0.001283
Embarked_S   -0.170379  0.192061 -0.009511   -0.778359    ...      0.050608
Deck_A        0.231323 -0.066756 -0.144979    0.093040    ...     -0.015289
Deck_B        0.417160 -0.120386 -0.261450    0.168642    ...     -0.027572
Deck_C        0.470749 -0.135851 -0.295036    0.113952    ...     -0.031114
Deck_D        0.291218 -0.041325 -0.217282    0.102977    ...     -0.022914
Deck_E        0.235748 -0.041325 -0.169489   -0.003376    ...     -0.022914
Deck_F       -0.066095  0.132819 -0.051148   -0.056322    ...      1.000000
Deck_G       -0.037988 -0.034258  0.060612   -0.032371    ...     -0.007846
Deck_T        0.059256 -0.017100 -0.037138   -0.016158    ...     -0.003917
Deck_Unknown -0.788773  0.172413  0.539291   -0.208528    ...     -0.214417
Title_Lady    0.102749 -0.029652 -0.064397    0.071046    ...     -0.006791
Title_Master -0.084700  0.009903  0.064918   -0.035225    ...      0.115733
Title_Miss    0.020348 -0.021903  0.000293    0.036204    ...     -0.011801
Title_Mr     -0.093303 -0.089763  0.153444   -0.073691    ...     -0.039008
Title_Mrs     0.105327  0.124854 -0.192364    0.067247    ...      0.006480
Title_Sir     0.096998  0.069310 -0.139983    0.008312    ...     -0.014763

                Deck_G    Deck_T  Deck_Unknown  Title_Lady  Title_Master  \
Survived      0.016040 -0.026456     -0.316912    0.073642      0.085221
Sex           0.091031 -0.024728     -0.140391    0.078791     -0.159934
Age          -0.077253  0.039469     -0.233123    0.023710     -0.377265
SibSp        -0.001402 -0.015907      0.040460   -0.010003      0.349559
Parch         0.072388 -0.015878     -0.036987   -0.027532      0.267344
Fare         -0.025180  0.002224     -0.482075    0.038537      0.010908
Pclass_1     -0.037988  0.059256     -0.788773    0.102749     -0.084700
Pclass_2     -0.034258 -0.017100      0.172413   -0.029652      0.009903
Pclass_3      0.060612 -0.037138      0.539291   -0.064397      0.064918
Embarked_C   -0.032371 -0.016158     -0.208528    0.071046     -0.035225
Embarked_Q   -0.020654 -0.010310      0.129572   -0.017877      0.010478
Embarked_S    0.041589  0.020759      0.110087   -0.050570      0.025291
Deck_A       -0.008787 -0.004386     -0.240136    0.142990      0.013759
Deck_B       -0.015847 -0.007910     -0.433053    0.159633     -0.026914
Deck_C       -0.017883 -0.008926     -0.488683   -0.015478     -0.035937
Deck_D       -0.013170 -0.006574     -0.359896   -0.011399     -0.042519
Deck_E       -0.013170 -0.006574     -0.359896   -0.011399     -0.013819
Deck_F       -0.007846 -0.003917     -0.214417   -0.006791      0.115733
Deck_G        1.000000 -0.002251     -0.123234   -0.003903     -0.014559
Deck_T       -0.002251  1.000000     -0.061513   -0.001948     -0.007267
Deck_Unknown -0.123234 -0.061513      1.000000   -0.106664      0.027841
Title_Lady   -0.003903 -0.001948     -0.106664    1.000000     -0.012601
Title_Master -0.014559 -0.007267      0.027841   -0.012601      1.000000
Title_Miss    0.048405 -0.017159     -0.043749   -0.029753     -0.110981
Title_Mr     -0.079137  0.028444      0.133195   -0.068496     -0.255491
Title_Mrs     0.066934 -0.013917     -0.120738   -0.024131     -0.090011
Title_Sir    -0.008485 -0.004235     -0.038547   -0.007344     -0.027392

              Title_Miss  Title_Mr  Title_Mrs  Title_Sir
Survived        0.335636 -0.546521   0.330515  -0.044050
Sex             0.693916 -0.864573   0.522993  -0.093205
Age            -0.249169  0.189348   0.176575   0.175855
SibSp           0.083462 -0.251662   0.064660  -0.035392
Parch           0.100998 -0.335107   0.212481  -0.037442
Fare            0.119518 -0.184122   0.111149  -0.012035
Pclass_1        0.020348 -0.093303   0.105327   0.096998
Pclass_2       -0.021903 -0.089763   0.124854   0.069310
Pclass_3        0.000293  0.153444  -0.192364  -0.139983
Embarked_C      0.036204 -0.073691   0.067247   0.008312
Embarked_Q      0.167531 -0.079066  -0.082575  -0.006741
Embarked_S     -0.140414  0.119935  -0.011927  -0.002399
Deck_A         -0.066985  0.040308  -0.054328   0.123763
Deck_B          0.064880 -0.115253   0.057985   0.050931
Deck_C          0.008343 -0.048497   0.080620   0.002648
Deck_D          0.016822 -0.038370   0.069613  -0.024779
Deck_E          0.031474 -0.038370   0.036049  -0.024779
Deck_F         -0.011801 -0.039008   0.006480  -0.014763
Deck_G          0.048405 -0.079137   0.066934  -0.008485
Deck_T         -0.017159  0.028444  -0.013917  -0.004235
Deck_Unknown   -0.043749  0.133195  -0.120738  -0.038547
Title_Lady     -0.029753 -0.068496  -0.024131  -0.007344
Title_Master   -0.110981 -0.255491  -0.090011  -0.027392
Title_Miss      1.000000 -0.603245  -0.212526  -0.064677
Title_Mr       -0.603245  1.000000  -0.489260  -0.148893
Title_Mrs      -0.212526 -0.489260   1.000000  -0.052456
Title_Sir      -0.064677 -0.148893  -0.052456   1.000000

[27 rows x 27 columns]
--------------------------------------------------------------------------------------
X_train shape: (713, 26)
y_train shape: (713,)
X_test shape: (178, 26)
y_test shape: (178,)

,Survived,Sex,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_C,...,Deck_F,Deck_G,Deck_T,Deck_Unknown,Title_Lady,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Sir
0,0,0,0.271174,1,0,0.014151,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
1,1,1,0.472229,1,0,0.139136,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
2,1,1,0.321438,0,0,0.015469,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
3,1,1,0.434531,1,0,0.103644,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0.434531,0,0,0.015713,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0

In [228]:
def decision_tree_clf(X_train, y_train, X_test, y_test):
    """
    Description:
    Builds and trains a decision tree classifier

    Arguments:
    X_train -- Training features,numpy matrix (m, 11)
    y_train -- Training features,numpy matrix (m, )
    X_test -- Test features,numpy matrix (m, 11)
    y_test -- Test features,numpy matrix (m, )
        
    Returns:
    dt_clf -- Classifier, sklearn DecisionTreeClassifier
    """
    
    dt_clf = sk.tree.DecisionTreeClassifier(max_depth=20)
    dt_clf.fit (X_train, y_train)
    print(dt_clf.score (X_test, y_test))
    
    return dt_clf

In [229]:
dt_clf = decision_tree_clf(X_train, y_train, X_test, y_test)

0.7921348314606742

In [230]:
def random_forest_clf(X_train, y_train, X_test, y_test):
    """
    Description:
    Builds and trains a random forest classifier

    Arguments:
    X_train -- Training features,numpy matrix (m, 11)
    y_train -- Training features,numpy matrix (m, )
    X_test -- Test features,numpy matrix (m, 11)
    y_test -- Test features,numpy matrix (m, )
        
    Returns:
    rf_clf -- Classifier, sklearn RandomForestClassifier
    """
    
    rf_clf = ske.RandomForestClassifier(n_estimators=50)
    rf_clf.fit (X_train, y_train)
    print(rf_clf.score (X_test, y_test))
    
    return rf_clf

In [231]:
rf_clf = random_forest_clf(X_train, y_train, X_test, y_test)

0.8370786516853933

In [232]:
def gradient_boosting_clf(X_train, y_train, X_test, y_test):
    """
    Description:
    Builds and trains a gradient boosting classifier

    Arguments:
    X_train -- Training features,numpy matrix (m, 11)
    y_train -- Training features,numpy matrix (m, )
    X_test -- Test features,numpy matrix (m, 11)
    y_test -- Test features,numpy matrix (m, )
        
    Returns:
    gb_clf -- Classifier, sklearn GradiantBoostingClassifier
    """
    
    gb_clf = ske.GradientBoostingClassifier(n_estimators=50)
    gb_clf.fit (X_train, y_train)
    print(gb_clf.score (X_test, y_test))
    
    return gb_clf

In [233]:
gb_clf = gradient_boosting_clf(X_train, y_train, X_test, y_test)

0.8314606741573034

In [234]:
def logistic_regression_clf(X_train, y_train, X_test, y_test):
    """
    Description:
    Builds and trains a logistic regression classifier

    Arguments:
    X_train -- Training features,numpy matrix (m, 11)
    y_train -- Training features,numpy matrix (m, )
    X_test -- Test features,numpy matrix (m, 11)
    y_test -- Test features,numpy matrix (m, )
        
    Returns:
    rf_clf -- Classifier, sklearn LogisticRegression
    """
    
    lr_clf = LogisticRegression()
    lr_clf.fit (X_train, y_train)
    print(lr_clf.score (X_test, y_test))
    
    return lr_clf

In [235]:
lr_clf = logistic_regression_clf(X_train, y_train, X_test, y_test)

0.8202247191011236

In [236]:
def support_vector_machine_clf(X_train, y_train, X_test, y_test):
    """
    Description:
    Builds and trains a support vector machine classifier

    Arguments:
    X_train -- Training features,numpy matrix (m, 11)
    y_train -- Training features,numpy matrix (m, )
    X_test -- Test features,numpy matrix (m, 11)
    y_test -- Test features,numpy matrix (m, )
        
    Returns:
    svm_clf -- Classifier, sklearn SVC
    """
    
    svm_clf = sk.svm.SVC(probability=True)
    svm_clf.fit (X_train, y_train)
    print(svm_clf.score (X_test, y_test))
    
    return svm_clf

In [237]:
svm_clf = support_vector_machine_clf(X_train, y_train, X_test, y_test)

0.8314606741573034

In [238]:
def naive_bayes_clf(X_train, y_train, X_test, y_test):
    """
    Description:
    Builds and trains a gaussian naive bayes classifier

    Arguments:
    X_train -- Training features,numpy matrix (m, 11)
    y_train -- Training features,numpy matrix (m, )
    X_test -- Test features,numpy matrix (m, 11)
    y_test -- Test features,numpy matrix (m, )
        
    Returns:
    svm_clf -- Classifier, sklearn GaussianNB
    """
    
    nb_clf = GaussianNB()
    nb_clf.fit (X_train, y_train)
    print(nb_clf.score (X_test, y_test))
    
    return nb_clf

In [239]:
nb_clf = naive_bayes_clf(X_train, y_train, X_test, y_test)

0.7303370786516854

In [240]:
def k_neighbors_clf(X_train, y_train, X_test, y_test):
    """
    Description:
    Builds and trains a k-nearest neighbors classifier

    Arguments:
    X_train -- Training features,numpy matrix (m, 11)
    y_train -- Training features,numpy matrix (m, )
    X_test -- Test features,numpy matrix (m, 11)
    y_test -- Test features,numpy matrix (m, )
        
    Returns:
    svm_clf -- Classifier, sklearn KNeighborsClassifier
    """
    
    knn_clf = KNeighborsClassifier(n_neighbors=6)
    knn_clf.fit (X_train, y_train)
    print(knn_clf.score (X_test, y_test))
    
    return knn_clf

In [241]:
knn_clf = k_neighbors_clf(X_train, y_train, X_test, y_test)

0.8595505617977528

In [242]:
def ensamble_voting_clf(clfs, X_train, y_train, X_test, y_test):
    """
    Description:
    Builds and trains an ensamble of classifiers which them vote together

    Arguments:
    clfs -- Classifiers with labels, List Tuple(String, clf)
    
    Returns:
    e_clf -- Classifier, sklearn VotingClassifier
    """
    
    e_clf = ske.VotingClassifier(estimators=clfs, voting='hard') # Hard voting where majority rules
    e_clf.fit (X_train, y_train)
    
    for label, clf in clfs:
        scores = cross_val_score(clf, X_test, y_test, cv=20, scoring='accuracy')
        print("Accuracy: %0.2f (+/- %0.2f) [%s]" % (scores.mean(), scores.std(), label))    
    
    scores = cross_val_score(e_clf, X_test, y_test, cv=20, scoring='accuracy')
    print("Accuracy: %0.2f (+/- %0.2f) [%s]" % (scores.mean(), scores.std(), 'Voting Ensamble')) 
    
    return e_clf

In [243]:
clfs = ([('Decision Tree', dt_clf), ('Random Forest', rf_clf), ('Gradiant Boosting', gb_clf), 
         ('Logistic Regression', lr_clf), ('SVM', svm_clf), ('Naive Bayes', nb_clf), ('K-Nearest', knn_clf)])

e_clf = ensamble_voting_clf(clfs, X_train, y_train, X_test, y_test)

Accuracy: 0.78 (+/- 0.11) [Decision Tree]
Accuracy: 0.81 (+/- 0.10) [Random Forest]
Accuracy: 0.81 (+/- 0.12) [Gradiant Boosting]
Accuracy: 0.83 (+/- 0.09) [Logistic Regression]
Accuracy: 0.82 (+/- 0.12) [SVM]
Accuracy: 0.74 (+/- 0.11) [Naive Bayes]
Accuracy: 0.79 (+/- 0.12) [K-Nearest]
Accuracy: 0.82 (+/- 0.08) [Voting Ensamble]

In [244]:
def predict(df, clf, export_path):
    """
    Description:
    Makes predictions X -> y and exports to csv

    Arguments:
    df -- Data to predict from, pandas DataFrame
    clf -- classifier, Classifier, sklearn classifier object
    export_path -- Path and name of file, String
        
    Returns:
    df_pred -- prediction, pandas DataFrame
    """
    
    # Extract Ids
    y1 = df['PassengerId'].values
    
    # Make predictions
    df_process = preprocess_dataframe(df, prediction_data=True, print_info=False) 
    X = df_process.values
    y2 = clf.predict(X)
    
    # Combine ids and predictions
    y = np.column_stack((y1, y2))
    
    # Restore pandas df
    df_pred = pd.DataFrame(y)
    df_pred.columns = ["PassengerId", "Survived"]
    
    # Export
    df_pred.to_csv(export_path, sep=',', index=False)
    
    return df_pred

In [245]:
df_pred = pd.read_csv('C:/GitHub/kaggle/titanic/data/test.csv', sep=',', header=0)
df_pred = predict(df_pred, lr_clf, 'C:/GitHub/kaggle/titanic/predictions/predictions_logistic_regression.csv')
df_pred.head(5)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0